.header {
  font-size: 4.3em;
  font-weight: 100;
  text-align: center;
  color: #f7f7f7c2;
  letter-spacing: 15px;
  padding: 0 0 0 0;
  z-index: 200;
  margin: -0.2em 0 0.7em 0;
}

.card {
  background-color: rgba(255, 255, 255, 0.034);
  height: 600px;
  min-width: 320px;
  max-width: 620px;
  width: 100% !important;
  border-radius: 20px;
  margin: 0em auto 2em auto;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em;
}

.siteImage {
  object-fit: cover;
  max-height: 316px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}


.tags ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em auto;
  padding: 0;
}

.tags ul li {
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 2px;
  color: rgb(238, 238, 238);
  border: 1px solid rgb(143, 143, 143);
  padding: 6px 13px;
  border-radius: 20px;
  margin: 0.5em auto;
}

.tags ul li:hover {
  color: #ff7f5b;
  transition-duration: 0.5s;
  border: 1px solid #ff7f5b;
}

.tags2 {
  width: 70%;
}

.text {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgb(238, 238, 238);
  padding: 1em 2em;
  text-align: justify;
  margin: 0 auto;
}


.title {
  margin: 0.5em 0;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 3px;
  color: rgb(238, 238, 238);
  text-align: center;
}